<HTML>
<HEAD><TITLE>RRDTool CO2 Graph Page</TITLE>
<meta http-equiv="refresh" content="60">
</HEAD>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<BODY><center>
<!--div class="jumbotron">
<div class="container"-->
<style>
.vertical{ writing-mode:bt-rl; -webkit-transform:rotate(270deg); -moz-transform:rotate(270deg); -o-transform: rotate(270deg); -ms-transform:rotate(270deg); white-spac\
e:nowrap; display:block; bottom:0; width:20px; height:20px; }
</style>
<h1 style='font-size:192px'>%LEVEL%<small> ppm</small></h1> <!--%TEMP%<small style='font-size:32px'>°C</small></h1-->
<br>
<img src='maindash.svg'>
<br>
<img src='dashday.svg'>
<br><br>
<p><a href='charts.html' class='btn btn-primary'>All Graphs</a></p>
<!--/div></div-->
</CENTER>
</BODY>
</HTML>
